@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Manrope", sans-serif;
  background-color: #f8f6f3;
}

form {
  font-family: "Satochi", sans-serif;
}

h1,
p,
a {
  font-family: "Manrope", sans-serif;
}